* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 0.45rem;
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: blue;
}

/* nav */
.navbar {
    font-weight: bold;
}
.login {
    width: 80px;
    border: 0;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.login:hover {
        transform: scale(1.1);
    
}

.sticky-top {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* banner */
.main_banner {
    width: 100vw;
    height: 100vh;
    animation-name: img-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-out;
    background-size: cover;
}

@keyframes img-animation {
    0% {background-image: url(../images/banner-3.jpg);}
    50% {background-image: url(../images/banner-2.jpg);}
    100% {background-image: url(../images/banner-1.jpg);}
}

.welcome {
    /* margin-top: 60px; */
    color: white;
    font-weight: bolder;
    font-size: 5vmax;
    text-transform: capitalize;
}
.slogan{
    color: white;
}
/* cards */
.card-img-top {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(213, 211, 211);
}

.card {
    margin: 0.3em auto;
    width: 350px;
    border: 0;
}
.card-container{
    /* display: grid;
    gap: 20px; */
    /* grid-template-columns: repeat(auto-fill, minmax(400px,1fr)); */
    /* grid-template-columns: repeat(3, 1fr); */
}
/* book form */
.book_container {
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(249, 248, 248)
}

/* video */
.video-container {
  display: flex;
  width: 100%;
  height: 400px;
 position: relative;
}

.aviation {
  width: 100%; 
  height: 400px;
  object-fit: cover;
  position: absolute; 
  z-index: -1;
} 

.aviation-head{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.aviation-btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition:all 0.3s ease-in ;
}
.aviation-btn:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

/* testimonial start */
.test-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 380px;
}
.test-body{
  background-color: rgb(252, 252, 252);
}
.card1{
    width: 70%;
}
.stars {
  color: #FFD700;
  font-size: 20px;
}
.review-btn {
  margin-left: 570px;
}
/* testimonial end */

/* footer section start */

footer {
    position: relative;
    margin-top: 60px;
    padding: 60px 0px 30px 0px;
    background-color: #1d1c1cb6;
    }

  footer .logo {
    margin-bottom: 20px;
  }
  
  footer ul li {
    display: block;
    margin-bottom: 10px;
  }
  
  footer ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    transition: all .3s;
  }
  
  footer ul li a:hover {
    color: goldenrod;
  }
  
  footer h4 {
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 30px;
    color: goldenrod;
  }
  
  footer .under-footer {
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid rgba(250,250,250,0.3);
  }
  
  footer .under-footer ul {
    margin-top: 20px;
  }
  
  footer .under-footer ul li {
    display: inline-block;
    margin: 0px 10px;
  }
  
  footer .under-footer ul li a {
    font-size: 22px;
  }
  
  footer .under-footer p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
  }
  
  footer .under-footer a {
    color: #cff;
  }
  
.icon:hover{
    color: goldenrod;
}
/* footer section end */